In [14]:
import pandas as pd
import csv

# Loading in Olympic data
olympics_path = "../datasources/athlete_events.csv"
noc_path = "../datasources/noc_regions.csv"
census_path = "../datasources/internationalcensus.csv"
gdp_path = "../datasources/internationalgdp.csv"

# Read the cleaned olympic data in cleandata folder

olympics_df = pd.read_csv(olympics_path)

# Read the country data in the NOC file located in datasources folder
noc_df = pd.read_csv(noc_path)

# Read the census data and rename column for smooth merge
census_df = pd.read_csv(census_path)
census_df = census_df.rename(columns ={"Country/Area Name":"region"})

# Read the gdp data, rename column for smooth merge, drop unnecessary columns, melt for ease of merge, change Year column to integer
gdp_df = pd.read_csv(gdp_path)
gdp_df= gdp_df.rename(columns ={"Country Name":"region"})
gdp_df = gdp_df.drop(["Country Code","Indicator Name","Indicator Code"], axis=1)
gdp_df = pd.melt(gdp_df,'region',var_name='Year',value_name='GDP')
gdp_df["Year"]=gdp_df["Year"].astype(int)

In [17]:
# merge clean_df and noc_regions by NOC
merge_df = pd.merge(olympics_df, noc_df, on="NOC", how= "inner")

# merge merge_df and international census data by country and year
merge2_df = pd.merge(merge_df, census_df, on=["region","Year"], indicator = True, how = "outer")

# merge merge2_df and gdp data by country and year

merge3_df = pd.merge(merge2_df, gdp_df, on=["region","Year"], how = "inner")

# Removing columns notes, Annual Growth Rate %, Density (per sq km),Total Fertility Rate, Life Expectancy at Birth, Under-5 Mortality Rate
olympiccountries_df = merge3_df.drop(["notes","Annual Growth Rate %", "Density (per sq km)","Total Fertility Rate", "Life Expectancy at Birth", "Under-5 Mortality Rate"], axis=1)
olympiccountries_df.head(10)
olympiccountries_df.set_index("ID")

olympiccountries_df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,...,Event,Medal,region,Row,FIPS,GENC,Population,Area (sq km),_merge,GDP
0,1.0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,...,Basketball Men's Basketball,NaN,China,6234.0,CH,CN,1.182231e+09,9326410.0,both,4.270000e+11
1,6848.0,Bai Chongguang,M,21.0,184.0,83.0,China,CHN,1992 Summer,1992,...,Boxing Men's Light-Heavyweight,NaN,China,6234.0,CH,CN,1.182231e+09,9326410.0,both,4.270000e+11
2,6854.0,Bai Mei,F,17.0,166.0,46.0,China,CHN,1992 Summer,1992,...,Rhythmic Gymnastics Women's Individual,NaN,China,6234.0,CH,CN,1.182231e+09,9326410.0,both,4.270000e+11
3,11225.0,Bi Zhong,M,23.0,188.0,110.0,China,CHN,1992 Summer,1992,...,Athletics Men's Hammer Throw,NaN,China,6234.0,CH,CN,1.182231e+09,9326410.0,both,4.270000e+11
4,17295.0,Cai Yanshu,M,28.0,169.0,79.0,China,CHN,1992 Summer,1992,...,Weightlifting Men's Light-Heavyweight,NaN,China,6234.0,CH,CN,1.182231e+09,9326410.0,both,4.270000e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,...,NaN,NaN,Zimbabwe,34303.0,ZI,ZW,1.341583e+07,386847.0,right_only,1.996312e+10
217855,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,...,NaN,NaN,Zimbabwe,34305.0,ZI,ZW,1.380508e+07,386847.0,right_only,1.901533e+10
217856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,...,NaN,NaN,Zimbabwe,34306.0,ZI,ZW,1.403032e+07,386847.0,right_only,1.952362e+10
217857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,...,NaN,NaN,Zimbabwe,34307.0,ZI,ZW,1.427718e+07,386847.0,right_only,1.693243e+10
217858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,...,NaN,NaN,Zimbabwe,34308.0,ZI,ZW,1.454615e+07,386847.0,right_only,1.676851e+10

In [19]:
olympiccountries_df.to_csv("clean_df.csv")